.formulariocontacto {
    padding: 1rem;
    .textocontacto {
        color: $secondColor;
        border-radius: 2rem;
        padding: 1rem;
        background-color: $thirdColor;
    }
    .form-floating {
        margin-bottom: 0.5rem;
        .nombre, .email, .mensaje {
            margin-right: 1rem;
        }
    }
}

.mapaubicacion {
    padding: 1rem;
    display: flex;
    justify-content: center;
    .mapaoficina {
        max-width: 100%;
    }
}
