body {
    background-color: $firstColor;
    background-repeat: unset;
    .fondoblancotitulo {
        background-color: $secondColor;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .titulogu {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .tituloppal {
            font-size: 2.5rem;
        }

        p {
            margin-top: 0;
            margin-bottom: 0rem;

            .itemsnosotros {
                margin-top: 1.5rem;
            }
        }

        .textogusyh {
            margin-bottom: 0.5rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
        .grilla {

            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "A1 B1 B1 B1"
                "B2 B2 B2 A2"
                "A3 B3 B3 B3"
                "B4 B4 B4 A4"
                "A5 B5 B5 B5"
                "B6 B6 B6 A6"
                "A7 B7 B7 B7"
                "B8 B8 B8 A8";


            .iconospng {
                height: 6rem;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            .A1 {
                grid-area: A1;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B1 {
                grid-area: B1;
                display: grid;
            }

            .A2 {
                grid-area: A2;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B2 {
                grid-area: B2;
                display: grid;
            }

            .A3 {
                grid-area: A3;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B3 {
                grid-area: B3;
                display: grid;
            }

            .A4 {
                grid-area: A4;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B4 {
                grid-area: B4;
                display: grid;
            }

            .A5 {
                grid-area: A5;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B5 {
                grid-area: B5;
                display: grid;
            }

            .A6 {
                grid-area: A6;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B6 {
                grid-area: B6;
                display: grid;
            }

            .A7 {
                grid-area: A7;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B7 {
                grid-area: B7;
                display: grid;
            }

            .A8 {
                grid-area: A8;
                display: grid;
                width: 100%;
                background-color: $fifthColor;
            }

            .B8 {
                grid-area: B8;
                display: grid;
            }

            .full {
                height: 85%;
                padding: 1rem;
                margin: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cuadritotexto {

                width: 100%;
                display: flex;
                text-align: center;
                flex-direction: column;
                background-color: $thirdColor;
                color: $secondColor;

                    
                .tituloppal {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.5rem;
                }
            }

        }

        .logoguseguridadehigiene {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 17rem;
        }

        .fondonegro {
            background-color: $thirdColor;
        }
    

    .misionvision {
        margin-right: auto;
        margin-left: auto;
    }
}