.color-select {
    background-color: $sixthColor;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.color-select div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}
/***************************Calzado de Seguridad*********************/
/***************************Calzado de Seguridad*********************/
/*******zapato ozono*******/
.color-select #zoonegro {
    background: $negro;
}
.color-select #zoomarron {
    background: $marron;
}
/*******zapatilla sneaker*******/
.color-select #zosnegro {
    background: $negro;
}
.color-select #zosmarron {
    background: $marron;
}
.color-select #zosgris {
    background: $gris;
}
/*******zapatilla kryton*******/
.color-select #zoknegro {
    background: $negro;
}
.color-select #zokazul {
    background: $azul;
}
/***********botin ozono*********/
.color-select #boonegro {
    background: $negro;
}
.color-select #boomarron {
    background: $marron;
}
.color-select #booblanco {
    background: $blanco;
}
/***********botin ombu sneaker*********/
.color-select #bosmarron {
    background: $marron;
}
.color-select #bosgris {
    background: $gris;
}
/***********botin ombu krypton************/
.color-select #boknegro {
    background: $negro;
}
.color-select #bokazul {
    background: $azul;
}
/***************************Indumentaria*********************/
/***************************Indumentaria*********************/
/*************pantalon cargo***********/
.color-select #pcbeige {
    background: $beige;
}
.color-select #pcnegro {
    background: $negro;
}
.color-select #pcazul {
    background: $azul;
}
/***************bombacha de campo************/
.color-select #bcbeige {
    background: $beige;
}
.color-select #bcnegro {
    background: $negro;
}
.color-select #bcverde {
    background: $verde;
}
/************Camisa*************/
.color-select #cazul {
    background: $azul;
}
.color-select #cbeige {
    background: $beige;
}
/***************************Protecciones*********************/
/***************************Protecciones*********************/
/***************Casco************/
.color-select #cascoblanco {
    background: $blanco;
}
.color-select #cascorojo {
    background: $rojo;
}
.color-select #cascoamarillo {
    background: $amarillo;
}
/****************auditivo****************/
.color-select #auditivonegro {
    background: $negro;
}
.color-select #auditivoverde {
    background: $verde;
}
.color-select #auditivonaranja {
    background: $naranja;
}
/**************guantes****************/
.color-select #guantenegro {
    background: $negro;
}
.color-select #guanterojo {
    background: $rojo;
}
.color-select #guanteverde {
    background: $verde;
}
/***********facial***********/
.color-select #facialblanco {
    background: $blanco;
}
.color-select #facialnegro {
    background: $negro;
}
/*************olcular**********/
.color-select #ocularblanco {
    background: $blanco;
}
.color-select #ocularnegro {
    background: $negro;
}
/***********respiratoria*******/
.color-select #respiratorianegro {
    background: $negro;
}
.color-select #respiratoriagris {
    background: $gris;
}
/***************************Primeros auxilios*********************/
/***************************Primeros auxilios*********************/
/***************botiquin************/
.color-select #botiquinblanco {
    background: $blanco;
}
.color-select #botiquinmarron {
    background: $marron;
}

/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
.color-select #negro {
    background: $negro;
}

.color-select #marron {
    background: $marron;
}

.color-select #beige {
    background: $beige;
}

.color-select #azul {
    background: $azul;
}

.color-select #verde {
    background: $verde;
}

.color-select #blanco {
    background: $blanco;
}

.color-select #gris {
    background: $gris;
}

.color-select #rojo {
    background: $rojo;
}

.color-select #naranja {
    background: $naranja;
}

.color-select #amarillo {
    background: $amarillo;
}
/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
/*************COLORES************/