.listaservicios {
    padding: 1rem;
    display: flex;

    .columnaservicios {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        width: 33.333333333%;

        .consultoriatecnica,
        .tramitesygestiones,
        .medicionesambientales {
            @extend %listitatitulo;

            .tituloppal {
                font-size: 2.5rem;
            }

            .centrar {
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 1rem;
            }
            .estilotextoblanco {
                color: $secondColor;
            }
        }

        .consultoriatexto,
        .tramitestexto,
        .medicionestexto {
            @extend %listitatexto;

            .itemslista {
                list-style: none;
            }
        }
    }
}

