.textogusyh {
    display: flex;
    margin-top: 1.5rem;
}

.fondonegro {
    background-color: $thirdColor;
    border-radius: 2rem;
}

.estilotextoblanco {
    color: $secondColor;
}

.cajitaquienessomos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tqs tqs iqs";
}

.textoquienessomos {
    display: grid;
    grid-area: tqs;
    background-color: $thirdColor;
    margin: 1rem;
    padding: 0.7rem;
    border-radius: 2rem;
}

.imagenquienessomos {
    display: grid;
    grid-area: iqs;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0.7rem;
    border-radius: 2rem;
}