.cajitaquienessomos {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tqs tqs iqs";

    .textoquienessomos {
        padding-left: 1rem;
        padding-right: 1rem;
        display: grid;
        grid-area: tqs;
        background-color: $thirdColor;
        border-radius: 2rem;
        
        .textogusyh {
            display: flex;
            margin-top: 1.5rem;
        }
    
        .estilotextoblanco {
            color: $secondColor;

            .fondonegro {
                background-color: $thirdColor;
                border-radius: 2rem;
            }
        }
    }

    .imagenquienessomos {
        display: grid;
        grid-area: iqs;
        margin-right: auto;
        margin-left: auto;
        border-radius: 2rem;
    }

}