    /******************************* LISTA *******************************/
.listaservicios {
    padding: 1rem;
    display: flex;

    .columnaservicios {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        width: 33.333333333%;

        .consultoriatecnica,
        .tramitesygestiones,
        .medicionesambientales {
            @extend %listitatitulo;

            .centrar {
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 1rem;
            }
            .estilotextoblanco {
                color: $secondColor;
            }
        }

        .consultoriatexto,
        .tramitestexto,
        .medicionestexto {
            @extend %listitatexto;

            .itemslista {
                list-style: none;
            }
        }
    }
}
    /******************************* GALERIA *******************************/
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "mqtexto" "mqvideo";

    .galeriatexto {
        border-radius: 2rem;
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-area: mqtexto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 6.094rem;
        margin-left: 6.094rem;
        padding-top:1rem;
        padding-right: 4rem;
        padding-left: 4rem;

        .estilotextoblanco {
            color: $secondColor;
        }
    }

    .galeriavideo {
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-area: mqvideo;
    }
    .videoservicios {
        width: 80%;
        height: 20rem;
        display: block;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
