@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$fontNunito: 'Nunito', sans-serif;

$firstColor: #34496652;
$secondColor: #F0F4EF;
$thirdColor: #000000;
$fourthColor: #0D1821;
$fifthColor: #ffffff;
$sixthColor: #c2c2c2;
$beige: #e0e094;
$azul: #001a57;
$negro: #333;
$verde: #014e01;
$blanco: #ffffff;
$gris: #808080;
$marron: #a52a2a;
$rojo: #ff0000;
$naranja: #f08800;
$amarillo: #fffb00;

%listitatitulo {
    padding: 1rem;
            background-color: $thirdColor;
}
%listitatexto {
    padding: 1rem;
    background-color: $secondColor;
}

%fondoblancotitulo {
    background-color: $secondColor;
        padding-top: 1rem;
        padding-bottom: 1rem;
}