@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$fontNunito: 'Nunito', sans-serif;

$firstColor: #34496652;
$secondColor: #F0F4EF;
$thirdColor: #000000;
$fourthColor: #0D1821;
$fifthColor: #ffffff;



%listitatitulo {
    padding: 1rem;
            background-color: $thirdColor;
}
%listitatexto {
    padding: 1rem;
    background-color: $secondColor;
}