@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$fontNunito: 'Nunito', sans-serif;

$firstColor: #aecac970;
$secondColor: #ffffff;
$thirdColor: #000000;

%listitatitulo {
    padding: 1rem;
            background-color: $thirdColor;
}
%listitatexto {
    padding: 1rem;
    background-color: $secondColor;
}