@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
.listaservicios .columnaservicios .consultoriatecnica,
.listaservicios .columnaservicios .tramitesygestiones,
.listaservicios .columnaservicios .medicionesambientales {
  padding: 1rem;
  background-color: #000000;
}

.listaservicios .columnaservicios .consultoriatexto,
.listaservicios .columnaservicios .tramitestexto,
.listaservicios .columnaservicios .medicionestexto {
  padding: 1rem;
  background-color: #F0F4EF;
}

body .fondoblancotexto {
  background-color: #F0F4EF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
*::-moz-selection {
  background-color: #001a57;
  color: #ffffff;
}
*::selection {
  background-color: #001a57;
  color: #ffffff;
}

header {
  background-color: #0D1821;
  display: flex;
  gap: 2rem;
  grid-gap: 2rem;
}
header .navbar {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
  justify-content: space-evenly;
}
header .navbar .gu {
  height: 6rem;
  margin-left: 0.8rem;
}
header .navbar .menu {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 1rem;
  grid-gap: 1rem;
  align-items: center;
  padding-block: 1rem;
  top: 0;
  width: 100%;
}
header .navbar .menu .menu_item a {
  color: #F0F4EF;
  text-decoration: none;
  font-size: larger;
}
header .navbar .menu .menu_item a:hover {
  background: rgba(52, 73, 102, 0.3215686275);
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
header .menu_item:nth-child(1) {
  animation-delay: 0.1s;
}
header .menu_item:nth-child(2) {
  animation-delay: 0.2s;
}
header .menu_item:nth-child(3) {
  animation-delay: 0.3s;
}
header .menu_item:nth-child(4) {
  animation-delay: 0.4s;
}
header .menu_item:nth-child(5) {
  animation-delay: 0.5s;
}

body {
  background-color: rgba(52, 73, 102, 0.3215686275);
  background-repeat: unset;
}
body .fondoblancotitulo {
  background-color: #F0F4EF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body .fondoblancotexto {
  border-radius: 1rem;
}
body .fondoblancotexto .fondonegro {
  background-color: #000000;
}
body .titulogu {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body .titulogu .tituloppal {
  font-size: 2.5rem;
}
body .titulogu p {
  margin-top: 0;
  margin-bottom: 0rem;
}
body .titulogu p .itemsnosotros {
  margin-top: 1.5rem;
}
body .titulogu .textogusyh {
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
body .grilla {
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "A1 B1 B1 B1" "B2 B2 B2 A2" "A3 B3 B3 B3" "B4 B4 B4 A4" "A5 B5 B5 B5" "B6 B6 B6 A6" "A7 B7 B7 B7" "B8 B8 B8 A8";
}
body .grilla .iconospng {
  height: 6rem;
  filter: grayscale(100%);
}
body .grilla .A1 {
  grid-area: A1;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B1 {
  grid-area: B1;
  display: grid;
}
body .grilla .A2 {
  grid-area: A2;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B2 {
  grid-area: B2;
  display: grid;
}
body .grilla .A3 {
  grid-area: A3;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B3 {
  grid-area: B3;
  display: grid;
}
body .grilla .A4 {
  grid-area: A4;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B4 {
  grid-area: B4;
  display: grid;
}
body .grilla .A5 {
  grid-area: A5;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B5 {
  grid-area: B5;
  display: grid;
}
body .grilla .A6 {
  grid-area: A6;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B6 {
  grid-area: B6;
  display: grid;
}
body .grilla .A7 {
  grid-area: A7;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B7 {
  grid-area: B7;
  display: grid;
}
body .grilla .A8 {
  grid-area: A8;
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
body .grilla .B8 {
  grid-area: B8;
  display: grid;
}
body .grilla .full {
  height: 85%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grilla .cuadritotexto {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
  color: #F0F4EF;
}
body .grilla .cuadritotexto .tituloppal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

footer {
  background-color: #0D1821;
}
footer .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
footer .row .pie :hover {
  background: rgba(52, 73, 102, 0.3215686275);
}

.cajitaquienessomos {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "tqs tqs iqs";
}
.cajitaquienessomos .textoquienessomos {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-area: tqs;
  background-color: #000000;
  border-radius: 2rem;
}
.cajitaquienessomos .textoquienessomos .textogusyh {
  display: flex;
  margin-top: 1.5rem;
}
.cajitaquienessomos .textoquienessomos .estilotextoblanco {
  color: #F0F4EF;
}
.cajitaquienessomos .textoquienessomos .estilotextoblanco .fondonegro {
  background-color: #000000;
  border-radius: 2rem;
}
.cajitaquienessomos .fotito {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.cajitaquienessomos .fotito .logoguseguridadehigiene {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 17rem;
}
.cajitaquienessomos .fotito .imagenquienessomos {
  display: grid;
  grid-area: iqs;
  border-radius: 2rem;
}

/******************************* LISTA *******************************/
.listaservicios {
  padding: 1rem;
  display: flex;
}
.listaservicios .columnaservicios {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  width: 33.333333333%;
}
.listaservicios .columnaservicios .consultoriatecnica .centrar,
.listaservicios .columnaservicios .tramitesygestiones .centrar,
.listaservicios .columnaservicios .medicionesambientales .centrar {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.listaservicios .columnaservicios .consultoriatecnica .estilotextoblanco,
.listaservicios .columnaservicios .tramitesygestiones .estilotextoblanco,
.listaservicios .columnaservicios .medicionesambientales .estilotextoblanco {
  color: #F0F4EF;
}
.listaservicios .columnaservicios .consultoriatexto .itemslista,
.listaservicios .columnaservicios .tramitestexto .itemslista,
.listaservicios .columnaservicios .medicionestexto .itemslista {
  list-style: none;
}

/******************************* GALERIA *******************************/
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "mqtexto" "mqvideo";
}
.galeria .galeriatexto {
  border-radius: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-area: mqtexto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 6.094rem;
  margin-left: 6.094rem;
  padding-top: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
.galeria .galeriatexto .estilotextoblanco {
  color: #F0F4EF;
}
.galeria .galeriavideo {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-area: mqvideo;
}
.galeria .videoservicios {
  width: 80%;
  height: 20rem;
  display: block;
  margin-right: 2rem;
  margin-left: 2rem;
}

.tarjetitas {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.cuadroscroll {
  margin-bottom: 1rem;
}
.cuadroscroll .scrolltext {
  list-style: none;
  height: 180px;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}
.cuadroscroll .scrolltext .textolistita {
  padding: 0.3rem;
}

.dimensionespantalones {
  height: 250px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.dimensionesber {
  margin-top: 3.1rem;
  margin-bottom: 3.1rem;
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.dimensionescamisa, .dimensionesmameluco, .dimensionlimitador {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 220px;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}

.dimensionesmasfacial {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 252px;
  margin-right: auto;
  margin-left: auto;
}

.dimensioncono, .dimensionmalla, .dimensioncarteleria {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 212px;
  margin-right: auto;
  margin-left: auto;
}

.botonvolver {
  margin-right: 3rem;
  padding-bottom: 1rem;
}

.formulariocontacto {
  padding: 1rem;
}
.formulariocontacto .textocontacto {
  color: #F0F4EF;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #000000;
}
.formulariocontacto .form-floating {
  margin-bottom: 0.5rem;
}
.formulariocontacto .form-floating .nombre, .formulariocontacto .form-floating .email, .formulariocontacto .form-floating .mensaje {
  margin-right: 1rem;
}

.mapaubicacion {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.mapaubicacion .mapaoficina {
  max-width: 100%;
}

.color-select {
  background-color: #c2c2c2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.color-select div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}

/***************************Calzado de Seguridad*********************/
/***************************Calzado de Seguridad*********************/
/*******zapato ozono*******/
.color-select #zoonegro {
  background: #333;
}

.color-select #zoomarron {
  background: #a52a2a;
}

/*******zapatilla sneaker*******/
.color-select #zosnegro {
  background: #333;
}

.color-select #zosmarron {
  background: #a52a2a;
}

.color-select #zosgris {
  background: #808080;
}

/*******zapatilla kryton*******/
.color-select #zoknegro {
  background: #333;
}

.color-select #zokazul {
  background: #001a57;
}

/***********botin ozono*********/
.color-select #boonegro {
  background: #333;
}

.color-select #boomarron {
  background: #a52a2a;
}

.color-select #booblanco {
  background: #ffffff;
}

/***********botin ombu sneaker*********/
.color-select #bosmarron {
  background: #a52a2a;
}

.color-select #bosgris {
  background: #808080;
}

/***********botin ombu krypton************/
.color-select #boknegro {
  background: #333;
}

.color-select #bokazul {
  background: #001a57;
}

/***************************Indumentaria*********************/
/***************************Indumentaria*********************/
/*************pantalon cargo***********/
.color-select #pcbeige {
  background: #e0e094;
}

.color-select #pcnegro {
  background: #333;
}

.color-select #pcazul {
  background: #001a57;
}

/***************bombacha de campo************/
.color-select #bcbeige {
  background: #e0e094;
}

.color-select #bcnegro {
  background: #333;
}

.color-select #bcverde {
  background: #014e01;
}

/************Camisa*************/
.color-select #cazul {
  background: #001a57;
}

.color-select #cbeige {
  background: #e0e094;
}

/***************************Protecciones*********************/
/***************************Protecciones*********************/
/***************Casco************/
.color-select #cascoblanco {
  background: #ffffff;
}

.color-select #cascorojo {
  background: #ff0000;
}

.color-select #cascoamarillo {
  background: #fffb00;
}

/****************auditivo****************/
.color-select #auditivonegro {
  background: #333;
}

.color-select #auditivoverde {
  background: #014e01;
}

.color-select #auditivonaranja {
  background: #f08800;
}

/**************guantes****************/
.color-select #guantenegro {
  background: #333;
}

.color-select #guanterojo {
  background: #ff0000;
}

.color-select #guanteverde {
  background: #014e01;
}

/***********facial***********/
.color-select #facialblanco {
  background: #ffffff;
}

.color-select #facialnegro {
  background: #333;
}

/*************olcular**********/
.color-select #ocularblanco {
  background: #ffffff;
}

.color-select #ocularnegro {
  background: #333;
}

/***********respiratoria*******/
.color-select #respiratorianegro {
  background: #333;
}

.color-select #respiratoriagris {
  background: #808080;
}

/***************************Primeros auxilios*********************/
/***************************Primeros auxilios*********************/
/***************botiquin************/
.color-select #botiquinblanco {
  background: #ffffff;
}

.color-select #botiquinmarron {
  background: #a52a2a;
}

/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
.color-select #negro {
  background: #333;
}

.color-select #marron {
  background: #a52a2a;
}

.color-select #beige {
  background: #e0e094;
}

.color-select #azul {
  background: #001a57;
}

.color-select #verde {
  background: #014e01;
}

.color-select #blanco {
  background: #ffffff;
}

.color-select #gris {
  background: #808080;
}

.color-select #rojo {
  background: #ff0000;
}

.color-select #naranja {
  background: #f08800;
}

.color-select #amarillo {
  background: #fffb00;
}

/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
/*************COLORES************/
@media screen and (max-width: 991px) {
  /*********************** NOSOTROS *********************/
  .cajitaquienessomos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tqs";
  }
  .cajitaquienessomos .textoquienessomos {
    display: grid;
    grid-area: tqs;
    background-color: #000000;
    margin: 1rem;
    padding: 0.7rem;
    border-radius: 2rem;
  }
  .cajitaquienessomos .fotito .imagenquienessomos {
    display: none;
  }
  /******************************* LISTA DE SERVICIOS *******************************/
  .listaservicios {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaservicios .columnaservicios {
    margin-right: auto;
    margin-left: auto;
    border: 0.1rem solid #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "consultoriatecnica consultoriatexto consultoriatexto " "tramitesygestiones tramitestexto tramitestexto" "medicionesambientales medicionestexto medicionestexto";
  }
  .listaservicios .columnaservicios .consultoriatecnica {
    grid-area: consultoriatecnica;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .consultoriatexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: consultoriatexto;
    display: grid;
  }
  .listaservicios .columnaservicios .tramitesygestiones {
    grid-area: tramitesygestiones;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .tramitestexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: tramitestexto;
    display: grid;
  }
  .listaservicios .columnaservicios .medicionesambientales {
    grid-area: medicionesambientales;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .medicionestexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: medicionestexto;
    display: grid;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 6.25rem;
    margin-left: 6.25rem;
    padding: 2rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
  /******************************* MAPA Y DE CONTACTOS *******************************/
  .formulariocontacto {
    width: 100%;
  }
  .mapaubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mapaubicacion .mapaoficina {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 720px) {
  /******************************* LISTA DE SERVICIOS *******************************/
  .listaservicios {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaservicios .columnaservicios {
    margin-right: auto;
    margin-left: auto;
    border: 0.1rem solid #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "consultoriatecnica" "consultoriatexto" "tramitesygestiones" "tramitestexto" "medicionesambientales" "medicionestexto";
  }
  .listaservicios .columnaservicios .consultoriatecnica {
    grid-area: consultoriatecnica;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .consultoriatexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: consultoriatexto;
    display: grid;
  }
  .listaservicios .columnaservicios .tramitesygestiones {
    grid-area: tramitesygestiones;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .tramitestexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: tramitestexto;
    display: grid;
  }
  .listaservicios .columnaservicios .medicionesambientales {
    grid-area: medicionesambientales;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .medicionestexto {
    border-left: 0.1rem solid #F0F4EF;
    grid-area: medicionestexto;
    display: grid;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
  /******************************* MAPA Y FORMULARIO DE CONTACTOS *******************************/
  .formulariocontacto {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .mapaubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mapaubicacion .mapaoficina {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 575px) {
  /****************************** INICIO *********************************/
  body .grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "A1" "B1" "A2" "B2" "A3" "B3" "A4" "B4" "A5" "B5" "A6" "B6" "A7" "B7" "A8" "B8";
  }
  /******************************* NAVBAR *******************************/
  header {
    display: grid;
  }
  header .navbar {
    display: grid;
    flex: 0;
  }
  header .navbar .gu {
    height: 3rem;
    margin-left: 0.2rem;
  }
  header .navbar .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nosotros servicios " "productos contacto ";
  }
  header .navbar .menu .inicioinicio {
    display: none;
  }
  header .navbar .menu .nosotrosinicio {
    grid-area: nosotros;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .serviciosinicio {
    grid-area: servicios;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .productosinicio {
    grid-area: productos;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .contactoinicio {
    grid-area: contacto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .syso {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1r 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo menu menu" "logo menu menu";
  }
  header .syso .logoinicio {
    grid-area: logo;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding: 1.5rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=style.css.map */