@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
.listaservicios .columnaservicios .consultoriatecnica,
.listaservicios .columnaservicios .tramitesygestiones,
.listaservicios .columnaservicios .medicionesambientales {
  padding: 1rem;
  background-color: #000000;
}

.listaservicios .columnaservicios .consultoriatexto,
.listaservicios .columnaservicios .tramitestexto,
.listaservicios .columnaservicios .medicionestexto {
  padding: 1rem;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
*::-moz-selection {
  background-color: #000000;
  color: rgba(192, 192, 192, 0.662745098);
}
*::selection {
  background-color: #000000;
  color: rgba(192, 192, 192, 0.662745098);
}

header {
  background-color: #000000;
  display: flex;
  gap: 2rem;
  grid-gap: 2rem;
}
header .navbar {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
  justify-content: space-evenly;
}
header .navbar .gu {
  height: 6rem;
  margin-left: 0.8rem;
}
header .navbar .menu {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 1rem;
  grid-gap: 1rem;
  align-items: center;
  padding-block: 1rem;
  top: 0;
  width: 100%;
}
header .navbar .menu .menu_item a {
  color: #ffffff;
  text-decoration: none;
  font-size: larger;
}
header .navbar .menu .menu_item a:hover {
  background: rgba(192, 192, 192, 0.662745098);
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
header .menu_item:nth-child(1) {
  animation-delay: 0.1s;
}
header .menu_item:nth-child(2) {
  animation-delay: 0.2s;
}
header .menu_item:nth-child(3) {
  animation-delay: 0.3s;
}
header .menu_item:nth-child(4) {
  animation-delay: 0.4s;
}
header .menu_item:nth-child(5) {
  animation-delay: 0.5s;
}

body {
  background-color: rgba(192, 192, 192, 0.662745098);
  background-repeat: unset;
}
body .titulogu {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body .titulogu p {
  margin-top: 0;
  margin-bottom: 0rem;
}
body .titulogu p .itemsnosotros {
  margin-top: 1.5rem;
}
body .titulogu .textogusyh {
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
body .fondoblancotitulo {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body .fondoblancotitulo .logoguseguridadehigiene {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 17rem;
}
body .fondoblancotitulo .fondonegro {
  background-color: #000000;
}
body .misionvision {
  margin-right: auto;
  margin-left: auto;
}

footer {
  background-color: #000000;
}
footer .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
footer .row .pie :hover {
  background: rgba(192, 192, 192, 0.662745098);
}

.listaservicios {
  padding: 2rem;
  display: flex;
}
.listaservicios .columnaservicios {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  width: 33.333333333%;
}
.listaservicios .columnaservicios .consultoriatecnica .centrar,
.listaservicios .columnaservicios .tramitesygestiones .centrar,
.listaservicios .columnaservicios .medicionesambientales .centrar {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.listaservicios .columnaservicios .consultoriatecnica .estilotextoblanco,
.listaservicios .columnaservicios .tramitesygestiones .estilotextoblanco,
.listaservicios .columnaservicios .medicionesambientales .estilotextoblanco {
  color: #ffffff;
}
.listaservicios .columnaservicios .consultoriatexto .itemslista,
.listaservicios .columnaservicios .tramitestexto .itemslista,
.listaservicios .columnaservicios .medicionestexto .itemslista {
  list-style: none;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "mqtexto" "mqvideo";
}
.galeria .galeriatexto {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-area: mqtexto;
  margin-right: 4.094rem;
  margin-left: 4.094rem;
  padding: 4rem;
}
.galeria .galeriatexto .estilotextoblanco {
  color: #ffffff;
}
.galeria .galeriavideo {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-area: mqvideo;
}
.galeria .videoservicios {
  width: 80%;
  height: 20rem;
  display: block;
  margin-right: 2rem;
  margin-left: 2rem;
}

.tarjetitas {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.textocontacto {
  color: #ffffff;
  padding: 1rem;
  background-color: #000000;
}

.mapaoficina {
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  /******************************* LISTA DE SERVICIOS *******************************/
  .listaservicios {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaservicios .columnaservicios {
    margin-right: auto;
    margin-left: auto;
    border: 0.1rem solid #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "consultoriatecnica consultoriatexto consultoriatexto " "tramitesygestiones tramitestexto tramitestexto" "medicionesambientales medicionestexto medicionestexto";
  }
  .listaservicios .columnaservicios .consultoriatecnica {
    grid-area: consultoriatecnica;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .consultoriatexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: consultoriatexto;
    display: grid;
  }
  .listaservicios .columnaservicios .tramitesygestiones {
    grid-area: tramitesygestiones;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .tramitestexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: tramitestexto;
    display: grid;
  }
  .listaservicios .columnaservicios .medicionesambientales {
    grid-area: medicionesambientales;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .medicionestexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: medicionestexto;
    display: grid;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 6.25rem;
    margin-left: 6.25rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
  /******************************* MAPA Y DE CONTACTOS *******************************/
  .formulariocontacto {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    width: 100%;
  }
  .mapaubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mapaubicacion .mapaoficina {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 720px) {
  /******************************* LISTA DE SERVICIOS *******************************/
  .listaservicios {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaservicios .columnaservicios {
    margin-right: auto;
    margin-left: auto;
    border: 0.1rem solid #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "consultoriatecnica" "consultoriatexto" "tramitesygestiones" "tramitestexto" "medicionesambientales" "medicionestexto";
  }
  .listaservicios .columnaservicios .consultoriatecnica {
    grid-area: consultoriatecnica;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .consultoriatexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: consultoriatexto;
    display: grid;
  }
  .listaservicios .columnaservicios .tramitesygestiones {
    grid-area: tramitesygestiones;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .tramitestexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: tramitestexto;
    display: grid;
  }
  .listaservicios .columnaservicios .medicionesambientales {
    grid-area: medicionesambientales;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .listaservicios .columnaservicios .medicionestexto {
    border-left: 0.1rem solid #ffffff;
    grid-area: medicionestexto;
    display: grid;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
  /******************************* MAPA Y FORMULARIO DE CONTACTOS *******************************/
  .formulariocontacto {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .mapaubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mapaubicacion .mapaoficina {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 575px) {
  /******************************* NAVBAR *******************************/
  header {
    display: grid;
  }
  header .navbar {
    display: grid;
    flex: 0;
  }
  header .navbar .gu {
    height: 3rem;
    margin-left: 0.2rem;
  }
  header .navbar .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nosotros servicios " "productos contacto ";
  }
  header .navbar .menu .inicioinicio {
    display: none;
  }
  header .navbar .menu .nosotrosinicio {
    grid-area: nosotros;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .serviciosinicio {
    grid-area: servicios;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .productosinicio {
    grid-area: productos;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .navbar .menu .contactoinicio {
    grid-area: contacto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  header .syso {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1r 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo menu menu" "logo menu menu";
  }
  header .syso .logoinicio {
    grid-area: logo;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  /******************************* GALERIA DE SERVICIOS *******************************/
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .galeria .galeriatexto {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding: 1.5rem;
  }
  .galeria .galeriavideo {
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=style.css.map */